<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      th:replace="~{layout :: layout(~{::title}, ~{::section.content-header}, ~{::section.content}, ~{}, ~{})}">
<head>
    <title>Тренировки</title>
</head>
<body>
<section class="content container pt-4">
    <div class="row">
        <div class="col">
            <h1>Ваши тренировки</h1>
        </div>
        <div class="col text-end">
            <a class="float-right btn btn-primary" th:href="@{/workouts/create}">ДОБАВИТЬ НОВУЮ ТРЕНИРОВКУ</a>
        </div>
    </div>
    <div class="row row-cols-lg-3">
        <th:block th:each="workout: ${page}">
            <div class="col">
                <h2>
                    <a th:href="@{/workouts/{id}(id=${workout.id})}">
                        <span th:text="${workout.workoutType}"></span>
                        в <span th:text="${#temporals.format(workout.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                    </a>
                </h2>
                <p><b>длительность:</b>
                    <span th:replace="fragments/min-sec.html :: minsec(value=${workout.totalLength()})"> </span>
                </p>
                <p th:if="${workout.runningEfficiency()} != null"><b>эффективность бега:</b>
                    <span th:text="${#numbers.formatDecimal(workout.runningEfficiency(), 1, 2)}">{{ number_format($workout->runningEfficiency(), 2) }}</span></p>
                <p th:if="${!#strings.isEmpty(workout.result?.comment)}" th:text="${workout.result?.comment}">
                    {{$workout->comment}}
                </p>
            </div>
        </th:block>
    </div>
    <div th:if="${page.getTotalElements()} < 1">
        Пока ни одной :(
    </div>
</section>
</body>
</html>